# Ignore build directories
software/linux/build/
software/firmware/build/

#Ignore KiCad backups
hardware/OAC-backups/

# Ignore VSCode settings
software/.vscode/

# Ignore rpi linux kernel source
software/rpi-linux/

# Ignore common temporary files
*.log
*.tmp
*.swp
*.swo
*.lck

# Ignore editor backup files
*~
*.bak

# Ignore compiled object files
*.o
*.obj
*.so
*.ko
*.dtbo
.*.mod
.*.cmd 
*.mod.c
*.mod.o
*.symvers
*.order
*.dtbo
*.dtb

# Ignore core dumps
core
core.*
