# Ignore build directories
software/linux/build/
software/firmware/build/

#Ignore KiCad backups
hardware/iJet-backups/

# Ignore VSCode settings
.vscode/

# Ignore common temporary files
*.log
*.tmp
*.swp
*.swo

# Ignore editor backup files
*~
*.bak

# Ignore compiled object files
*.o
*.obj
*.so
*.dll
*.exe

# Ignore core dumps
core
core.*
